* {
  box-sizing: border-box;
}

.future-weather {
  width: 250px;
  height: 250px;
  background-color: blue;
  color: antiquewhite;
  margin: 10px;
  padding: 2px;
  border-radius: 10px;
  display: inline-block;
}
